 
 
 <div class="container-clientes">
    <div class="table-container">
        <div id="link-find">
            <a href="/consultClient" class="link-os" >Ordem de Serviço</a>
        </div>
        <table class="table-client" id="table">
            <tbody>               
                <tr class="table-rows">                    
                    <td class="title-table data">Data</td>
                    <td class="title-table">Hora</td>
                    <td class="title-table" colspan="2">Cliente</td>
                    <td class="title-table">Telefone</td>
                    <td class="title-table">Documento</td>
                    <td class="title-table">Equipamento</td>
                    <td class="title-table">Marca</td>
                    <td class="title-table">Defeito</td>
                    <td class="title-table">Serviço</td>
                    <td class="title-table">Valor</td>
                    <td class="title-table">Alterações</td>
                    <td class="title-table">Excluir</td>
                </tr>
            {{#each client}}
            
                <tr class="table-row">
                    
                    <td class="body-table table-color-grey data" >{{date}}</td>

                    <td class="body-table table-color-whitesmoke" >{{hour}}</td>

                    <td class="body-table table-color-whitesmoke" colspan="2">{{name}}</td>

                    <td class="body-table table-color-whitesmoke">{{tel}}</td>


                    <td class="body-table table-color-whitesmoke">{{document}}</td>
                    
                    <td class="body-table table-color-whitesmoke">{{equipment}}</td>

                    <td class="body-table table-color-whitesmoke">{{brand}}</td>

                    <td class="body-table table-color-whitesmoke">{{defect}}</td>

                    <td class="body-table table-color-whitesmoke" >{{service}}</td>
                    
                    <td class="body-table table-color-whitesmoke">{{price}}</td>

                    <td class="body-table table-color-whitesmoke"><a href="/edit/{{_id}}" class="table-link" ><button
                                class="table-btn"> <img src="./img/icon-pen.png" class="icon-btn" alt=""></button></a></td>

                    <td class="body-table table-color-whitesmoke"><a href="/deletar/{{_id}}" class="table-link" ><button
                                class="table-btn"><img src="./img/icon-lixo.png" class="icon-btn" alt=""> </button></a></td>
                </tr>
                </tbody>
 
            </div>

            {{/each}}
        </table>
    </div>
</div>