        <!-- find form -->
        <form action="/singleSearch" method="POST" class="form-inventory">
       
        <div class="inventory-formation code">
            <label for="code">#Código</label>
            <input type="text" name="code" id="code" class="input-inventory" pattern="[0-9]{}" inputmode="numeric" >
        </div>
        <div class="inventory-formation product">
            <label for="">Nome</label>
            <input type="text" name="name" id="product" class="input-inventory" pattern="[Aa-Zz]{}" >
        </div>
      
        <div class="btn-inventory ">
                <p></p>
                <button type="submit" class="btn-confirm-delete"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0fe71a" class="bi bi-check-circle-fill btn-inventory" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg></button>
        </div>
        <div class="btn-inventory ">
                <p></p>
                <button type="reset" class="btn-confirm-delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#f50909" class="bi bi-x-circle-fill btn-inventory" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                </button>
        </div>
        </form>

        <!-- -->
        {{#each errors}}
        <div class="errors">{{clientNotFound}}</div>
        {{else}}
            
        {{/each }}
      <div class="container-clientes" onload="mesmaPagina()">
    <div class="table-container">
        
        <table class="table-client" id="table">
            <tbody>               
                <tr class="table-rows">                    
                    <td class="title-table data">Entrada</td>
                    <td class="title-table">Hora</td>
                    <td class="title-table" colspan="2">Cliente</td>
                    <td class="title-table">Telefone</td>
                    <td class="title-table">Documento</td>
                    <td class="title-table">Equipamento</td>
                    <td class="title-table">Marca</td>
                    <td class="title-table">Defeito</td>
                    <td class="title-table">Serviço</td>
                    <td class="title-table">Valor</td>
                    <td class="title-table">Alterações</td>
                    <td class="title-table">Excluir</td>
                </tr>
            
            
                <tr class="table-row">
                    {{#each oneClient}}
                    <td class="body-table table-color-grey data" >{{#formatDate date}}{{/formatDate}}</td>

                    <td class="body-table table-color-whitesmoke" >{{hour}}</td>

                    <td class="body-table table-color-whitesmoke" colspan="2">{{name}}</td>

                    <td class="body-table table-color-whitesmoke">{{tel}}</td>


                    <td class="body-table table-color-whitesmoke">{{document}}</td>
                    
                    <td class="body-table table-color-whitesmoke">{{equipment}}</td>

                    <td class="body-table table-color-whitesmoke">{{brand}}</td>

                    <td class="body-table table-color-whitesmoke">{{defect}}</td>

                    <td class="body-table table-color-whitesmoke" >{{service}}</td>
                    
                    <td class="body-table table-color-whitesmoke">{{price}}</td>

                    <td class="body-table table-color-whitesmoke"><a href="/edit/{{_id}}" class="table-link" ><button
                                class="table-btn"> <img src="./img/icon-pen.png" class="icon-btn" alt=""></button></a></td>

                    <td class="body-table table-color-whitesmoke"><a href="/deletar/{{_id}}" class="table-link" ><button
                                class="table-btn"><img src="./img/icon-lixo.png" class="icon-btn" alt=""> </button></a></td>
                </tr>
                </tbody>
 {{/each}}
            </div>

            
        </table>
    </div>
</div>