
<div class="dashboard">
   {{>_nav}}
   <header class="header">
       <h3><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-bar-graph" viewBox="0 0 16 16">
  <path d="M10 13.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg>Consulta Ordem de Serviço</h3>
   </header>
    <main class="main">
      <div class="container-clientes" onload="mesmaPagina()">
    <div class="table-container">
        
        <table class="table-client" id="table">
            <tbody>               
                <tr class="table-rows">                    
                    <td class="title-table data">Data</td>
                    <td class="title-table">Hora</td>
                    <td class="title-table" colspan="2">Cliente</td>
                    <td class="title-table">Telefone</td>
                    <td class="title-table">Documento</td>
                    <td class="title-table">Equipamento</td>
                    <td class="title-table">Marca</td>
                    <td class="title-table">Defeito</td>
                    <td class="title-table">Serviço</td>
                    <td class="title-table">Valor</td>
                    <td class="title-table">Status</td>
                    <td class="title-table">Alterações</td>
                    <td class="title-table">Excluir</td>
                </tr>
            {{#each client}}
            
                <tr class="table-row">
                    
                    <td class="body-table table-color-grey data" >{{date}}</td>

                    <td class="body-table table-color-whitesmoke" >{{hour}}</td>

                    <td class="body-table table-color-whitesmoke" colspan="2">{{name}}</td>

                    <td class="body-table table-color-whitesmoke">{{tel}}</td>


                    <td class="body-table table-color-whitesmoke">{{document}}</td>
                    
                    <td class="body-table table-color-whitesmoke">{{equipment}}</td>

                    <td class="body-table table-color-whitesmoke">{{brand}}</td>

                    <td class="body-table table-color-whitesmoke">{{defect}}</td>

                    <td class="body-table table-color-whitesmoke" >{{service}}</td>
                    
                    <td class="body-table table-color-whitesmoke">{{price}}</td>

                    <td class="body-table table-color-whitesmoke">{{status}}</td>

                    <td class="body-table table-color-whitesmoke"><a href="/edit/{{_id}}" class="table-link" ><button
                                class="table-btn"> <img src="./img/icon-pen.png" class="icon-btn" alt=""></button></a></td>

                    <td class="body-table table-color-whitesmoke"><a href="/deletar/{{_id}}" class="table-link" ><button
                                class="table-btn"><img src="./img/icon-lixo.png" class="icon-btn" alt=""> </button></a></td>
                </tr>
                </tbody>
 
            </div>

            {{/each}}
        </table>
    </div>
</div>
    </main>
</div>