
<div class="container1">
    <!--inicio Header-->
    <header class="header">
        <h1 id="headerLabel"> Clientes</h1>
    </header>
    <!--fim Header-->

    <!--Inicio navegação-->
    
    <!--fim navegação-->

    <main class="main" onclick="subMenuHide()" id="main">
        <div class="container-clientes" onload="mesmaPagina()">
    <div class="table-container">
        <div class="header-cliente">
            <h4 class="titulo-cliente">Banco de Clientes</h4>
        </div>


        <table class="table-cliente" id="table">
            <tbody>               
                <tr class="table-rows">                    
                    <td class="titulo-table">ID</td>
                    <td class="titulo-table data"cols="2">Data</td>
                    <td class="titulo-table">Cliente</td>
                    <td class="titulo-table">Telefone</td>
                    <td class="titulo-table">Equipamento</td>
                    <td class="titulo-table">Marca</td>
                    <td class="titulo-table">CPU</td>
                    <td class="titulo-table">Memória</td>
                    <td class="titulo-table">QD</td>
                    <td class="titulo-table">Defeito</td>
                    <td class="titulo-table">Serviço</td>
                    <td class="titulo-table">Valor</td>
                    <td class="titulo-table">Alterações</td>
                    <td class="titulo-table">Excluir</td>
                </tr>
            
            {{#each cliente}}
            
                <tr class="">
                    <td class="body-table table-color-whitesmoke" >{{_id}}</td>


                    <td class="body-table table-color-grey data" cols="2">{{data}}</td>

                    <td class="body-table table-color-whitesmoke" >{{nome}}</td>

                    <td class="body-table table-color-whitesmoke">{{telefone}}</td>

                    <td class="body-table table-color-whitesmoke">{{equipamento}}</td>

                    <td class="body-table table-color-whitesmoke">{{marca}}</td>

                    <td class="body-table table-color-whitesmoke">{{CPU}}</td>

                    <td class="body-table table-color-whitesmoke">{{memoria}}</td>

                    <td class="body-table table-color-whitesmoke">{{quantidade}}</td>

                    <td class="body-table table-color-whitesmoke">{{defeito}}</td>

                    <td class="body-table table-color-whitesmoke">{{servico}}</td>

                    <td class="body-table table-color-whitesmoke">{{valor}}</td>

                    <td class="body-table table-color-whitesmoke"><a href="/edit/{{_id}}" class="table-link" ><button
                                class="table-btn"> <img src="./img/icon-pen.png" class="icon-btn" alt=""></button></a></td>

                    <td class="body-table table-color-whitesmoke"><a href="/deletar/{{_id}}" class="table-link" ><button
                                class="table-btn"><img src="./img/icon-lixo.png" class="icon-btn" alt=""> </button></a></td>
                </tr>
                </tbody>
 
            </div>

            {{/each}}
        </table>
    </div>
</div>
    </main>
    <footer class="footer">Desenvolvido por Rodrigo Ribeiro</footer>
</div> 